<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SimpleBlazorMultiselectDemo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- BasicDropdown -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BasicDropdown" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> BasicDropdown
            </NavLink>
        </div>

        <!-- FilteredDropdown -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FilteredDropdown" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> FilteredDropdown
            </NavLink>
        </div>

        <!-- SingleSelect -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SingleSelect" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> SingleSelect
            </NavLink>
        </div>
        
        <!-- CustomTemplate -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomTemplate" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> CustomTemplate
            </NavLink>
        </div>

    </nav>
</div>