@page "/CustomTemplate"
@inject IJSRuntime JsRuntime
@using Microsoft.JSInterop
@implements IDisposable

<h3>CustomTemplate</h3>
Click on a selected item to remove it from the selection.
<div class="row">
    <div class="col-4">
        <SimpleMultiselect
            Options="@Globals.EuropeanCapitals"
            @bind-SelectedOptions="_selectedItems">
            <SelectedOptionsRenderer Context="options">
                @foreach (var item in options)
                {
                    <span
                        @onclick="() => _selectedItems.Remove(item)"
                        style="padding: 6px; margin-right: 10px; background-color: #0d6efd; color: white; border-radius: 6px;">
                        @item
                    </span>
                }
            </SelectedOptionsRenderer>
        </SimpleMultiselect>
    </div>
    <div class="col-4">
        You have selected the following items:
        <ul>
            @foreach (var item in _selectedItems)
            {
                <li>@item</li>
            }
        </ul>
    </div>
</div>


<script>
    function preventDropdownClose(e) {
        if (e.target.classList.contains('remove-button')) {
            const dropdownToggle = e.target.closest('.simple-dropdown').querySelector('[data-bs-toggle="dropdown"]');
            const dropdown = new bootstrap.Dropdown(dropdownToggle);
            dropdown.hide();
            dropdownToggle.blur();
        }
    }

    function registerDropdownClosePrevention() {
        document.addEventListener('click', preventDropdownClose);
    }

    function unregisterDropdownClosePrevention() {
        document.removeEventListener('click', preventDropdownClose);
    }
</script>

@code {
    private HashSet<string> _selectedItems = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("registerDropdownClosePrevention");
        }
    }

    public void Dispose()
    {
        JsRuntime.InvokeVoidAsync("unregisterDropdownClosePrevention");
    }

}