@page "/MultipleDropdowns"
<h3>MultipleDropdowns</h3>

<div class="row">
    @foreach(var _ in Enumerable.Range(0, 9))
    {
        <div class="@Classes">
            <SimpleMultiselect Options="@Globals.EuropeanCapitals" />
        </div>
    }
</div>

@code {
    private const string Classes = "col-4 mb-4";
}