@page "/"
@using SimpleBlazorMultiselectDemo.Models

<PageTitle>Home</PageTitle>


<div class="row">
    <div class="col-4">
        <SimpleMultiselect
            @bind-SelectedOptions="_selectedItems"
            Options="_items"
            CanFilter="true"
            StringSelector="item => item.Name">
            <SelectedOptionsRenderer Context="options">
                @foreach (var item in options)
                {
                    <span class="badge bg-primary"
                          style="padding: 4px; margin-right: 4px; z-index: 10;"
                          @onclick:preventDefault="true"
                          @onclick="() => _selectedItems.Remove(item)"
                          @onclick:stopPropagation="true">
                        @item.Name
                    </span>
                }
            </SelectedOptionsRenderer>
        </SimpleMultiselect>
    </div>
</div>

@code {
    private List<SimpleItem> _selectedItems = new();

    private readonly List<SimpleItem> _items = Enumerable.Range(1, 100_000).Select(i => new SimpleItem(i, $"Item {i}")).ToList();
}