.filter-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.filter-container > div {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    padding-top: 0;
}

.dropdown-item {
    user-select: none;
}

.dropdown-toggle::after {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    margin-top: -2px;
}

.btn.dropdown-toggle {
    --bs-btn-hover-color: var(--bs-btn-color);
    --bs-btn-hover-bg: var(--bs-btn-bg);
    --bs-btn-hover-border-color: var(--bs-btn-border-color);
    --bs-btn-active-color: var(--bs-btn-color);
    --bs-btn-active-bg: var(--bs-btn-bg);
    --bs-btn-active-border-color: var(--bs-btn-border-color);
}

.btn.dropdown-toggle.show {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}