@page "/BasicDropdown"
<h3>BasicDropdown</h3>

<div class="row">
    <div class="col-4">
        <SimpleMultiselect
            Options="@Globals.EuropeanCapitals"
            @bind-SelectedOptions="_selectedItems">
            <SelectedOptionsRenderer Context="options">
                @foreach (var option in options)
                {
                    <span class="badge bg-primary" style="padding: 6px; margin-right: 10px;">
								@option
					</span>
                }
            </SelectedOptionsRenderer>
        </SimpleMultiselect>
    </div>
    <div class="col-4">
        You have selected the following items:
        <ul>
            @foreach (var item in _selectedItems)
            {
                <li>@item</li>
            }
        </ul>
    </div>
</div>

@code {
    private HashSet<string> _selectedItems = new();
}