::deep .simple-dropdown .dropdown-button {
    color: red;
    background-color: black;
    border: 10px solid green;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    text-align: left;
    animation: rainbow 2.5s linear infinite;
}

::deep .simple-dropdown .dropdown-menu-container {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #6c757d;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

::deep .simple-dropdown .dropdown-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
    color: red;
}

    ::deep .simple-dropdown .dropdown-item:hover {
        background-color: yellow;
    }

@keyframes rainbow {
    0%, 100% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}
