@page "/CustomStyling"
<h3>CustomStyling</h3>

<div class="row">
    <div class="col-4">
        <SimpleMultiselect Options="@Globals.EuropeanCapitals" @bind-SelectedOptions="_selectedItems" Class="simple-dropdown" />
    </div>
    <div class="col-4">
        You have selected the following items:
        <ul>
            @foreach (var item in _selectedItems)
            {
                <li>@item</li>
            }
        </ul>
    </div>
</div>

@code {
    private HashSet<string> _selectedItems = new();
}