@page "/FilteredDropdown"
<h3>FilteredDropdown</h3>

<div class="row">
    <div class="col-4">
        <SimpleMultiselect
            Options="@Globals.EuropeanCapitals"
            CanFilter="true"
            @bind-SelectedOptions="_selectedItems"/>
    </div>
    <div class="col-4">
        You have selected the following items:
        <ul>
            @foreach (var item in _selectedItems)
            {
                <li>@item</li>
            }
        </ul>
    </div>
</div>

@code {
    private HashSet<string> _selectedItems = [];
}