@page "/"
<PageTitle>Home</PageTitle>

<h1>Home</h1>
Select an example on the left to see it in action.
This demo does not use any CSS framework, but you can easily integrate it with your favorite one.