@page "/SingleSelect"
<h3>SingleSelect</h3>

<div class="row">
    <div class="col-4">
        <SimpleMultiselect
            Options="_items"
            IsMultiSelect="false"
            @bind-SelectedOptions="_selectedItems"/>
    </div>
    <div class="col-4">
        You have selected the following item: <strong>@_selectedItems.FirstOrDefault()</strong>
    </div>
</div>

@code {
    private readonly List<string> _items = new() { "Item 1", "Item 2", "Item 3", "Item 4", "Item 5", "Item 6", "Item 7", "Item 8", "Item 9", "Item 10" };
    private List<string> _selectedItems = new();
}